@import '../../../shared/styles/global';


.daily {
  display: flex;

  .current { width: 33rem; }

  .container {
    flex: 1;
    height: 28rem;
    display: flex;
    align-items: center;
    margin-top: 0.5px;
    overflow-x: scroll;
    color: get-color(white, dark);
    @include custom-scroll($horizontal: 8);
    background-color: get-color(black, light);
  }
}
